pandas 
seaborn
notebook
numpy
scikit-learn
matplotlib
python-box==6.0.2
pyYAML
ensure==1.0.2
joblib
types-PyYAML
Flask
Flask-Cors
boxsdk
openpyxl
xgboost
threadpoolctl==2.2.0
Werkzeug==2.0.1
wincertstore==0.2
wtf==0.1
WTForms==2.3.3
Flask-WTF
