artifacts_root: artifacts

data_ingestion:
  root_dir: artifacts/data_ingestion
  source_URL: https://github.com/prakash-d07/Flight_Fare_estimator_Project/raw/main/Data/train.zip
  local_data_file: artifacts/data_ingestion/train.zip
  unzip_dir: artifacts/data_ingestion


data_preprocessing:
  root_dir: artifacts/data_preprocessing
  datapath: artifacts/data_ingestion/Data_Train.xlsx


data_transformation:
  root_dir: artifacts/data_transformation
  datapath: artifacts/data_preprocessing/output.csv
  

  
